{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block head %}
<style type="text/css">
  body {
      padding-top: 80px;
  }

  .form-signin {
/*    max-width: 300px; */
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

	.control-group,
  .form-horizontal .control-group {
	  margin-bottom: 0px;
  }
</style>
{% endblock %}

{% block content %}

{% bootstrap_messages %}

<div class="row">
	<div class="span6">
		<form class="form-signin form-horizontal" action="{% url login %}" method="post">
			{% csrf_token %}
			<div class="control-group">
				<div class="controls">
					<h2>Sing in</h2>
				</div>
			</div>
			{% bootstrap_form loginform layout="horizontal" %}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary btn-large">Sign in</button>
				</div>
			</div>
		</form>
	</div>

	<div class="span6">
		<form class="form-signin form-horizontal" action="" method="post">
			{% csrf_token %}
			<div class="control-group">
				<div class="controls">
					<h2>Sing up</h2>
				</div>
			</div>
			TODO
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary btn-large">Sign up</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
