{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<style type="text/css">
  .user-leftpane {
  /* border-radius: 10px; */
  }

  .user-image {
  width: 300px;
  height 300px;
  /* border-radius: 10px; */
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <div class="thumbnail user-leftpane">
      <img alt="300x300" class="user-image" src="{% static 'user-image.png' %}"></img>
      <div class="caption">
        <h3 style="font-weight: bold;">{{ user.first_name }} {{user.last_name }}</h3>
        <h4 style="font-weight: bold;">{{ user.username }}</h4>
        
        <p>website/other profile links</p>
        <p>Joined date</p>
        <p>Location/link to map</p>
        <p>Stats about following/followers</p>
      </div>
    </div>
  </div>
  <div class="span8">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a>{{ connections_in_count }} followers</a></li>
          <li><a>{{ connections_out_count }} followers</a></li>
        </ul>
      </div>
    </div>
    
    <ul class="nav nav-tabs" id="userTab">
      <li class="active"><a data-toggle="tab" href="#activity">Activity</a></li>
      <li><a data-toggle="tab" href="#connections">Connections</a></li>
      {% if request.user.is_authenticated and request.user.id == user.id %}
      <li><a data-toggle="tab" href="#edit_profile">Edit profile</a></li>
      {% endif %}
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="activity">
        Activity
      </div>
      <div class="tab-pane" id="connections">
	{% include "connections_list.html" %}
      </div>
      {% if request.user.is_authenticated and request.user.id == user.id %}
      <div class="tab-pane" id="edit_profile">
        Edit profile
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
