<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">hmness</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% ifequal active_page "home" %} class="active"{% endifequal %}><a href="{% url home %}">Home</a></li>
          <li{% ifequal active_page "about" %} class="active"{% endifequal %}><a href="{% url about %}">About</a></li>
          <li{% ifequal active_page "contact" %} class="active"{% endifequal %}><a href="{% url contact %}">Contact</a></li>
        </ul>
				{% if user.is_authenticated %}
				<ul class="nav pull-right">
					<li><a href="/logout">Log out</a></li>
				</ul>
				{% else %}
        <form class="navbar-form pull-right" method="POST" action="{% url login %}">
					{% csrf_token %}
          <input name="username" class="span2" type="text" placeholder="Username">
          <input name="password" class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form>
				{% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
