{% load staticfiles %}

<style type="text/css">
  .user-image-small {
    margin: -15px 10px -15px 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{% url home %}">hmness</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% ifequal active_page "home" %} class="active"{% endifequal %}><a href="{% url home %}"> <i class="icon-home"></i>Home</a></li>
          <li{% ifequal active_page "about" %} class="active"{% endifequal %}><a href="{% url about %}"><i class="icon-folder-open"></i>About</a></li>
          <li{% ifequal active_page "contact" %} class="active"{% endifequal %}><a href="{% url contact %}"><i class="icon-envelope-alt"></i>Contact</a></li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="nav pull-right">
          <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      <img class="user-image-small" src="{% static 'user-image-small.png' %}"></img>
	      {{ request.user.get_profile.name }}
	      <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	      <li>
		<a href="{% url users:logout %}"><i class="icon-signout"></i>Log out</a></li>
	      </li>
	    </ul>
	  </li>
        </ul>
        {% else %}
        <div class="pull-right">
          <form class="navbar-form" method="POST" action="{% url users:login %}">
            {% csrf_token %}
            <input name="username" class="span2" type="text" placeholder="Username">
            <input name="password" class="span2" type="password" placeholder="Password">
            <button type="submit" class="btn btn-primary"><i class="icon-signin"></i> Sign in</button>
            <a href="{% url users:signup %}" class="btn btn-primary"><i class="icon-edit"></i> Sign Up</a>
          </form>
        </div>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
