{% extends "base.html" %}

{% load staticfiles %}
{% load connections %}
{% load bootstrap_toolkit %}

{% block head %}
<style type="text/css">
  .pin-leftpane {
  /* border-radius: 10px; */
  }

  .pin-image {
  width: 300px;
  height 300px;
  /* border-radius: 10px; */
  }
</style>
{% endblock %}

{% block content %}

{% bootstrap_messages %}

{% connections_init pin  %}

<div class="row">
  {% include "pin_pane.html" %}

  <div class="span8">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a><span class="connection-stats">{{ connections_in_count }}</span>&nbsp;&nbsp;followers</a></li>
          <li><a><span class="connection-stats">{{ connections_out_count }}</span>&nbsp;&nbsp;following</a></li>
        </ul>
      </div>
    </div>
    
    <ul class="nav nav-tabs" id="pinTab">
      <li class="active"><a data-toggle="tab" href="#activity"><i class="icon-globe"></i>Activity</a></li>
      <li><a data-toggle="tab" href="#connections"> <i class="icon-group"></i>Connections</a></li>
      <li><a data-toggle="tab" href="#edit_profile"><i class="icon-pencil"></i>Edit profile</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="activity">
        Activity
      </div>
      <div class="tab-pane" id="connections">
        {% connections_list %}
      </div>
      <div class="tab-pane" id="edit_profile">
        Edit profile
      </div>
    </div>
  </div>
</div>

{% endblock %}
